@charset "utf-8";
/* CSS Document */

html {
	height: 100%;
	background: linear-gradient(#070707, #000e18);
}

#title {
	text-align: center;
	color: white;
	
	margin-top: 150px;
}

#name {
	font-family: Century Gothic;
	letter-spacing: 12px;
	font-size: 75px;
	font-weight: 100;
	position: relative;
}

#email{
	font-family: "Helvetica";
	font-weight: 10;
	letter-spacing: 3px;
	font-size: 17px;
	margin-top: -40px;
}

#logo {
	align-content: center;
	margin-top: 50px;
	width: 75px;
}

#search_and_links{
	margin-top: 75px;
}

.search-container {
	position: relative;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#typed {
	position: absolute;
	display: inline;
	margin-top: 10px;
	right: 0;
	left: 0;
	text-align: center;
	
	
	color: black;
	font-family: Helvetica;
	font-size: 40px;
}

#search-bar {
	width: 600px;
}

#linkedin {
	position: absolute;
	right: 0px;
	margin-right: 400px;
	margin-top: -35px;
	
	transition: all 1s ease-in-out;
	
	width: 175px;
}

#github {
	position: absolute;
	left: 0px;
	margin-left: 400px;
	margin-top: -35px;
	
	transition: all 1s ease-in-out;
	
	width: 175px;
}

.hover-element:hover {
	transform: scale(.8);
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(25px);
	}
	
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.fade-in {
	transform: translateY(0px);
	animation: fadeIn ease-in-out 1;
	animation-fill-mode: none;
	animation-duration: 1s;
}

#large-shadow {
	position: relative;
	margin-top: 70px;
	margin-left: 350px;
	width: 65%;
}

@font-face {
	font-family: "Century Gothic";
	src: url("fonts/Century Gothic.ttf");
}
